<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
   <div class="footer">
       <h4 style="color:brown;">@TiMSoftwareDevelopers</h4> <br> <br>
       <p style="color:rgb(50, 42, 165); font-size: 30px; text-align: center; font-family: 'Anton', sans-serif;">Contact: timohmugendi@gmail.com</p> <br> <br>
       <p style="color:brown; font-size: 30px; text-align: center; font-family: 'Anton', sans-serif;">Phone number: 0791417147</p>
   </div>
</body>
</html>
