<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
  
   <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
   <nav>
     <h1 style="font-size: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center; color: maroon;" class="navbar-brand">Welcome to Tim World News Hub <br> Your best news centre</h1>
     <h2></h2>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
       </div>
     </nav>
  
  
</body>
</html>
